* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    padding: 5px;
}

img {
    width: 80%;
    height: auto;
    display: block;
    margin: 15px auto;
}

body {
    font-family: verdana, sans-serif;
}

h1,
h3 {
    text-align: center;
}

header,
footer {
    background: rgba(253, 253, 253, 0.753);
    min-height: 100px;
    padding: 20px;
    color: rgb(170, 100, 8);
}

nav {
    text-align: center;
}

a {
    padding: 10px 20px;
    border-radius: 20px;
    background: olive;
    color: rgb(216, 193, 117);
    text-decoration: none;
    line-height: 3;
}

a:hover {
    background: olive;
    color: white;
}

.container {
    max-width: 1260px;
    margin: 10px auto;
    border-radius: 10px;
}